.error-container {
    background-color: white;
    flex-direction: column;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .error-image {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    margin-bottom: 20px; /* Add margin-bottom to separate from the message */
    
  }
  
  .error-message {
    margin-top: 10px;
    color: black;
  }
  
  .error-button {
    margin-top: 20px;
    color: black;
    border-radius:30px;
    background-color: '#00008B';
    padding:15px 20px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid gray;
    width: 400px;
    border-color: black;
    
    
  }
  